# Ignore Python bytecode files
__pycache__
*.pyc

# Ignore virtual environment directory
venv/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore temporary files and backups
*~
*.tmp